<head>
  <script language="JavaScript" type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css"></link>
  <script language="JavaScript" type="text/javascript" src="/javascripts/sliding.form.js"></script>
  <%= javascript_include_tag "validaciones_usuarios_new.js.erb"%>
  <script language="JavaScript" type="text/javascript">
    $(document).ready(function() {
      /*VALIDACION PARA NOMBRE DE USUARIO UNICO*/usu_username_unico("<%= usu_username_check_path %>");
      /*VALIDACION PARA CONTRASEÑA: LONGITUD, MAYUSCULAS, MINUSCULAS, NUMEROS*/checkPassword();
      /*VALIDACION PARA CONFIRMACION DE CONTRASEÑA*/
      $("#check_usu_password").change(checkPasswordMatch);
      $("#check_usu_password_confirm").change(checkPasswordMatch);
      /*VALIDACION PARA MATRICULA PROFESIONAL UNICO*/usu_matr_prof_unico("<%= usu_matr_prof_check_path %>");
      /*VALIDACION PARA LA CEDULA*/
      $("#check_pers_cedula").keypress(isNumberKey);
      checkCedula("<%= pers_cedula_check_path %>");
      /*CAMPOS DE SOLO LETRAS*/
      $("#check_pers_apellido").keypress(isLetterKey);
      $("#check_pers_nombre").keypress(isLetterKey);
      /*CAMPOS DE SOLO NUMEROS*/
      $("#check_pers_telefono1").keypress(isNumberKey);
      $("#check_pers_telefono2").keypress(isNumberKey);
      /*CAMPOS QUE NO DEBEN ESTAR EN BLANCO*/
      $("#check_pers_apellido").change(checkApellido);
      $("#check_pers_nombre").change(checkNombre);
      $("#check_pers_direccion").change(checkDireccion);
      checkTelefono1();
      checkTelefono2();
      //$("#check_pers_telefono2").keypress(checkTelefono2);
      /*VALIDACION DE EMAIL*/checkEmail("<%= pers_email_check_path %>");
      /*VALIDACION PARA NO INGRESAR ESPACIOS EN BLANCO*/
      $("#check_usu_username").keypress(isBlankKey);
      $("#check_usu_password").keypress(isBlankKey);
      $("#check_usu_password_confirm").keypress(isBlankKey);
      $("#check_pers_email").keypress(isBlankKey);
    });
  </script>
</head>
<h1>Gestión de Corredores</h1>
<%#= label_tag nil, (link_to ">> Usuarios ", index_usuarios_path), :class=>"negrita" %><%= label_tag nil, (">> Nuevo" ), :class=>"negrita" %>
<div id="content">
  <div id="wrapper">
    <div id="steps">
      <%= form_for @user, :html => {:multipart => true}, :remote=>true do |f|%>
        <fieldset class="step">
          <legend>Cuenta de Usuario</legend>
          <p>
            <%= label_tag nil, "Nombre de Usuario" %>
            <%= f.text_field :username, :id=>"check_usu_username", :autocomplete => :off, :autofocus=>true%><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
            <%= label_tag nil, "", :id=>"usuarios_new_usu_username", :class=>"usuarios_errores" %>
          </p>
          <p>
            <%= label_tag nil, "Contraseña" %>
            <%= f.password_field :password, :id=>"check_usu_password" %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
            <%= label_tag nil, "", :id=>"usuarios_new_usu_password", :class=>"usuarios_errores" %>
          </p>
          <p>
            <%= label_tag nil, "Confirmar Contraseña" %>
            <%= f.password_field :password_confirmation, :id=>"check_usu_password_confirm" %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
            <%= label_tag nil, "", :id=>"usuarios_new_usu_password_confirm", :class=>"usuarios_errores" %>
          </p>
          <p>
            <%= label_tag nil, "Matricula Profesional" %>
            <%= f.text_field :usu_matr_prof, :id=>"check_usu_matr_prof", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
            <%= label_tag nil, "", :id=>"usuarios_new_usu_matr_prof", :class=>"usuarios_errores" %>
          </p>
          <p>
            <%= label_tag nil, "Pagina Web" %>
            <%= f.text_field :usu_pag_web, :id=>"check_usu_pag_web", :autocomplete => :off %>
          </p>
          <p>
            <%= label_tag nil, "Foto" %>
            <%= f.file_field :usu_foto %>
          </p>
        </fieldset>
        <fieldset class="step">
          <legend>Datos Personales</legend>
          <%= fields_for @person do |f| %>
            <p>
              <%= label_tag nil, "Cedula" %>
              <%= f.text_field :pers_cedula, :id=>"check_pers_cedula", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_cedula", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Apellidos" %>
              <%= f.text_field :pers_apellido, :id=>"check_pers_apellido", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_apellido", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Nombres" %>
              <%= f.text_field :pers_nombre, :id=>"check_pers_nombre", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_nombre", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Direccion" %>
              <%= f.text_field :pers_direccion, :id=>"check_pers_direccion", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_direccion", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Telefono Convencional" %>
              <%= f.text_field :pers_telefono1, :id=>"check_pers_telefono1", :autocomplete => :off %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_telefono1", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Telefono Celular" %>
              <%= f.text_field :pers_telefono2, :id=>"check_pers_telefono2", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_telefono2", :class=>"usuarios_errores" %>
            </p>
            <p>
              <%= label_tag nil, "Correo Electronico" %>
              <%= f.text_field :pers_email, :id=>"check_pers_email", :autocomplete => :off %><%= label_tag nil, "*", :class=>"campo_obligatorio" %>
              <%= label_tag nil, "", :id=>"usuarios_new_pers_email", :class=>"usuarios_errores" %>
            </p>
          <%end%>
          <p class="submit">
            <button id="registerButton" type="submit">Guardar<% f.submit "Guardar"%></button>
          </p>
        </fieldset>
      <%end%>
    </div>
    <div id="navigation" style="display:none;">
      <ul>
        <li class="selected"><a href="#">Cuenta</a></li>
        <li><a href="#">Datos Personales</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="new_edit_error">

</div>
<div id="nota_obligatorios">
  <%= label_tag nil, "Nota: Los campos marcados con el simbolo asterisco (*) son obligatorios y no pueden quedar vacios", :class=>"campo_obligatorio" %>
</div>