<script language="JavaScript" type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"></link>-->
<link rel="stylesheet" href="/stylesheets/jquery-ui.css"></link>
<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Tabla de Avaluo</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @tablas_avaluos.each do |ta| %>
      <tr>
        <td><%= label_tag nil, ta.aval_descrip %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), {:action => "edit", :id => ta.id}, :remote=>true) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), {:action => "eliminar", :id=>ta.id}, :remote=>true) %></td>
      </tr>
    <% end %>
    <%= form_for @tabla_avaluo, :remote=>true, :id=>"form_new_price" do |ta|%>
      <tr>
        <td><%= ta.text_field :aval_descrip, :id=>"prices_index_aval_descrip", :autofocus => true %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>  
</div>
<div id="price_new">

</div>
<div id="price_edit">

</div>
<div id="price_delete">

</div>
<div id="price_no_delete">

</div>
<%#= link_to 'Agregar nuevo campo de avaluo', new_price_path %>