<script language="JavaScript" type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="/stylesheets/jquery-ui.css"></link>
<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Parametros de Avaluo</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @parametros.each do |p| %>
      <tr>
        <td><%= label_tag nil, p.param_descrip %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), {:action => "edit", :id => p.id}, :remote=>true) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), {:action=>"eliminar", :id=>p.id}, :remote=>true) %></td>
      </tr>
    <% end %>
    <%= form_for @parametro, :remote=>true do |p|%>
      <tr>
        <td><%= p.text_field :param_descrip, :id=>"parameters_index_param_descrip", :autofocus => true  %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>
<div id="parameter_new">

</div>
<div id="parameter_edit">

</div>
<div id="parameter_delete">

</div>
<div id="parameter_no_delete">

</div>
<%#= link_to 'Agregar nuevo parametro de avaluo', new_parameter_path %>